/* BODY */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

/* HEADER */
header {
    background: #111;
    padding: 15px 30px;
}

/* CONTENT */
.container {
    padding: 40px;
}

/* BREADCRUMB */
.breadcrumb {
    background: #111;
    padding: 12px 30px;
}

/* LIST */
.breadcrumb ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

/* ITEMS */
.breadcrumb li {
    font-size: 15px;
}

/* SEPARATOR */
.breadcrumb li + li:before {
    content: ">";
    margin: 0 10px;
    color: #888;
}

/* LINKS */
.breadcrumb a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

/* HOVER GREEN GLOW */
.breadcrumb a:hover {
    color: #00ff88;
    text-shadow: 0 0 8px #00ff88, 0 0 15px #00ff88;
}

/* ACTIVE */
.breadcrumb .active {
    color: #00ff88;
    font-weight: bold;
    text-shadow: 0 0 10px #00ff88;
}
